footer.mt-8
  .container-fluid.primary
    .container.ph-3
      .row
        .col-md-4.tc.vertical-align-center.mb-3-xs.mb-3-sm.mb-3-md
          img.h-4(src='/images/logo_cuadrado_f_negro.svg' alt='tienda logo blanco')
        .col-md-8.tc.vertical-align-center
          span.mr-4 ¿Interesado en vender sus productos?
          a.button.secondary-300(href='https://admin-tienda.p4s.co/signup' target='_blank') Conocer marcas
        .col-md-12
          .hr.mh-4
      .row
        .col-md-4.tc.mb-3-xs.mb-3-sm.mb-3-md
          img.h-2(src='/images/logo.svg' alt='p4s logo')
          .small Tienda&nbsp;
            a(href='https://p4s.co') p4s
            | &nbsp;es una idea apoyada por el portar de emprendimiento p4s, del mismo dominio
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md.tc-xs.tc-sm.tc-md
          //- title.b.mb-2 Ayuda
          //- a.small.ml-4(href='/preguntas') Preguntas Frecuentes
        .col-md-4.tc.mb-3-xs.mb-3-sm.mb-3-md
          .small Visita nuestra página de facebook
          .bigx2
            a(href="https://www.facebook.com/tiendap4s" target='_blank')
              i.fab.fa-facebook-square
              span.out-screen Página de facebook
  .container-fluid.primary-500
    .container.tc.ph-3
      .row
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md
          .small TODOS LOS DERECHOS RESERVADOS
          .small e-Mail:&nbsp;
            a(href='info@p4s.co') info@p4s.co
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md
          img.h-2(src='/images/wompi.png' alt='wompi')
          .small COMPRA 100% SEGURA
        .col-md-4
          .small TIENDAS EN PESOS COLOMBIANOS
          .small
            | ©
            | #{' '}
            a(href="https://www.mapbox.com/about/maps/") Mapbox
          .small
            | ©
            | #{' '}
            a(href="http://www.openstreetmap.org/copyright") OpenStreetMap
            | #{' '}
            strong
              a(href="https://www.mapbox.com/map-feedback/", target="_blank") Improve this map