footer.mt-8
  .container-fluid.primary-500
    .container.tc.ph-1
      .row
        .col-md-4.mb-1-xs.mb-1-sm.mb-1-md
          | !{getFragment(req, 'footer-l-2-c-1')}
        .col-md-4.mb-1-xs.mb-1-sm.mb-1-md
          | !{getFragment(req, 'footer-l-2-c-2')}
        .col-md-4.mb-1-xs.mb-1-sm.mb-1-md
          | !{getFragment(req, 'footer-l-2-c-3')}