mixin menuUL(categories)
  .expandable
    ul.expandable__body.navigation
      each sub in categories
        li.navigation__item(class=menu==sub.slugLong?'navigation--active':'')
          a.item(href='/ayuda/topico/'+sub.slugLong) #{sub.name}
          if sub.categories
            +menuUL(sub.categories)

nav.mt-2
  .pw-1
    .title TÓPICOS
  .mh-2
    +menuUL(tree)