extends layout

block content
  include fragments/breadcrumb

  .row
    .col-xs-6
      h1 #{title}

  .row
    .col-lg-12.col-xl-8
      .white.br-1.rd-0-2.p-3
        .msg.error#form-results
        block edit