extends /modules/admin/views/super/layout-list

block list
  if items.length
    table.small.table.table--lines.table--striped
      thead
        tr
          th.b &nbsp;
          th.b Nombre
          th.b Slug
      tbody
        each item of items
          tr
            td.tc
              a(href=`/administracion/super/faq-categorias/${item._id}/editar` title='Ver')
                i.fas.fa-search
            td
              a.b(href=`/administracion/super/faq-categorias/${item._id}/editar`) #{item.name}
            td
              | #{item.slug}

      tfoot
        tr
          th(colspan="5")
            +paginator
  else
    +noItems('No hay categorías creadas.')