extends ../../layout_store

block content
  .invisible #{description}
  .container
    .row.pb-2
      .col-xs-12
        ul.breadcrumb
          li.breadcrumb__item
            a.item(href='/') Inicio
          li.breadcrumb__item
            a.item(href=`/${store.slug}/buscar`) Buscar

        h1.tc Resultados de la búsqueda

      .col-xs-12.mt-1
        .list-products-grid
          ul.row-xp.flex-wrap.justify-content-center
            each product,pos in products
              li
                .w-230p.w-170p-xs.w-170p-sm.br-1.white.h-100
                  +simpleProduct(store, product)
          nav.mt-3

  include ../../fragments/footer_store.pug