extends ../../layout_account

block content
  .container
    include ../../fragments/breadcrumb

    .row
      .col-xs-6
        h1 Contraseña

    .row
      .col-md-8
        .white.br-1.rd-0-2.p-1.mb-2
          .msg.error#form-results
          form.validate-rest(id="updateProfileForm" action=`${appCnf.url.api}users/password` method="put" data-page=`/usuario/contrasena-cambiada` data-error="#form-results")
            .row
              .col-xs-12
                .form-group
                  .form-control.form-control--right
                    input.input#password(type="password" name="password" placeholder=' ' required)
                    label(for='password') Contraseña anterior
                    .form-control__eye
                .form-group
                  .form-control.form-control--right
                    input.input#newPassword(type="password" name="newPassword" autocomplete="new-password" placeholder=' ' required minlength=minPassword)
                    label(for='newPassword') Contraseña nueva
                    .form-control__eye
                .form-group
                  .form-control.form-control--right
                    input.input#newPasswordR(type="password" name="newPasswordR" placeholder=' ' required same='#newPassword')
                    label(for='newPasswordR') Repetir contraseña nueva
                    .form-control__eye
            .row
              .col-xs-12.tr
                button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Editar contraseña
