extends ../../layout

block content
  .container
    include ../../fragments/breadcrumb

  .container
    h1 Política de Privacidad y Tratamiento de Datos
    .row
      .col-xs-12
        .oh.white.br-1.rd-0-2.mh-2
          .p-1
            | Texto