extends ../../layout
include ../../fragments/nologin

block content
  .container.session.start-hide#site-edit-profile
    h1.pt-3 Cambiar contrase単a
    .hr.mb-5.mt-2
    .row.justify-content-center
      .col-xs-12.col-md-6
        .white.br-1.rd-0-2.p-3
          .msg.error#form-results
          form.validate-rest(id="updatePasswordForm" action=`${appCnf.url.api}users` method="put" data-page=`perfil` data-error="#form-results")
            .row
              .col-xs-12
                .form-group
                  .form-control
                    input#password(type="password" name="password" autocomplete="current-password" placeholder=' ' required)
                    label(for='password') Contrase単a actual
              .col-xs-12
                .form-group
                  .form-control
                    input#newPassword(type="password" name="newPassword" autocomplete="new-password" placeholder=' ' required)
                    label(for='newPassword') Nueva Contrase単a
            .row
              .col-xs-12.tr
                a.button.secondary.w-100-xs(href='/perfil') Cancelar
                | #{' '}
                button.primary.w-100-xs.mt-2-xs(type="submit") Cambiar contrase単a

  +nologin('Editar perfil')