extends ../../layout
include ../../fragments/nologin

block content
  .container.session.start-hide#site-edit-profile
    h1.pt-3 Editar perfil
    .hr.mb-5.mt-2
    .row.justify-content-center
      .col-xs-12.col-md-6
        .white.br-1.rd-0-2.p-3
          .msg.error#form-results
          form.validate-rest(id="updateProfileForm" action=`${appCnf.url.api}users` method="put" data-page=`perfil` data-error="#form-results")
            .row
              .col-xs-12
                .form-group
                  .form-control
                    input#firstname(type="text" name="firstname" placeholder=' ' required)
                    label(for='firstname') Nombre
              .col-xs-12
                .form-group
                  .form-control
                    input#lastname(type="text" name="lastname" placeholder=' ' required)
                    label(for='lastname') Apellido
              .col-xs-12
                .form-group
                  .form-control
                    input#cellphone(type="text" name="cellphone" placeholder=' ' required cellphone)
                    label(for='cellphone') Número de célular
            .row
              .col-xs-12.tr
                a.button.secondary.w-100-xs(href='/perfil') Cancelar
                | #{' '}
                button.primary.w-100-xs.mt-2-xs(type="submit") Editar perfil

  +nologin('Editar perfil')