extends ../../layout
include ../../fragments/nologin

block content
  .container.session.start-hide.cart-detail-order(data-map="true")
    h1.pt-3 #{__('Detalle de pedido')}
    .hr.mb-5.mt-2
    .row
      .col-md-12
        .white.br-1.rd-0-2.p-3
          .row
            .col-md-6
              .map
            .col-md-6
              table.striped
                tr
                  td.b Número de pedido:
                  td.b.number-order
                tr
                  td.b.mt-3-xs Estado:
                  td.mt-3-xs.big.status
                tr
                  td.b.mt-3-xs Fecha de solicitud:
                  td.mt-3-xs.date-created
                tr
                  td.b.mt-3-xs Fecha de entrega:
                  td.mt-3-xs.date-delivery
                tr
                  td.b.mt-3-xs Productos:
                  td.mt-3-xs.products
                tr
                  td.b.mt-3-xs Total:
                  td.mt-3-xs.b.big.t-secondary.total
                tr
                  td.b.mt-3-xs Dirección de Entrega:
                  td.mt-3-xs.address
                tr
                  td.b.mt-3-xs Nombre de contacto:
                  td.mt-3-xs.name
                tr
                  td.b.mt-3-xs Célular de contacto:
                  td.mt-3-xs.cellphone
              .row
                .col-md-6.start-hide#btn-pay
                  button.primary.small.w-100 Pagar
                .col-md-6.start-hide#btn-cancel
                  button.error.small.w-100.mt-2-xs Cancelar

    .row
      .col-xs-12
        .order-detail


  +nologin('Inicia sesión')

  #cancelOrder.modal.start-hide(tabindex='-1' role='dialog')
    .modal-dialog(role='document')
      form#cancelOrderForm.col-xs-12.validate-rest(action=`${config.url.api}orders/cancel` data-page=`/cancelar-confirmacion` method="post")
        .modal-content
          .modal-header
            .b Desea cancelar el pedido
            button.close.close-modal(type='button' data-dismiss='modal' aria-label='Cerrar')
              span(aria-hidden='true')
                i.fas.fa-times
          .modal-body
            .row
              .col-xs-12
                .form-group
                  label(for='reason') Motivo
                  .form-control
                    input#orderID(type="hidden" name="id")
                    select#reason(name="reason" required)
                      option(value='') -- Seleccione un motivo --
                      option(value='Ya no lo necesito') Ya no lo necesito
                      option(value='Me he arrepentido') Me he arrepentido
                      option(value='Voy hacer otro pedido') Voy hacer otro pedido
                      option(value='Voy a comprar en otro lugar') Voy a comprar en otro lugar
                      option(value='Otro motivo') Otro motivo
          .modal-footer
            button.close-modal.btn.secondary.small(type='button') Salir
            button.primary.small(type='submit') Confirmar cancelar