h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

h1,
.h1 {
  font-size: 1em * map-get($h-sizes-text, "h1");
  font-weight: map-get($h-weight-text, "h1");
  //breakpoints
  @each $vkey, $vval in $breakpoints {
    $fbp: map-get($h-sizes-text-bp, $vkey);
    @if $fbp {
      @include media-breakpoint-up(map-get($breakpoints, $vkey)) {
        font-size: 1em * map-get($fbp, "h1");
      }
    }
  }
}

h2,
.h2 {
  font-size: 1em * map-get($h-sizes-text, "h2");
  font-weight: map-get($h-weight-text, "h2");
  //breakpoints
  @each $vkey, $vval in $breakpoints {
    $fbp: map-get($h-sizes-text-bp, $vkey);
    @if $fbp {
      @include media-breakpoint-up(map-get($breakpoints, $vkey)) {
        font-size: 1em * map-get($fbp, "h2");
      }
    }
  }
}

h3,
.h3 {
  font-size: 1em * map-get($h-sizes-text, "h3");
  font-weight: map-get($h-weight-text, "h3");
  //breakpoints
  @each $vkey, $vval in $breakpoints {
    $fbp: map-get($h-sizes-text-bp, $vkey);
    @if $fbp {
      @include media-breakpoint-up(map-get($breakpoints, $vkey)) {
        font-size: 1em * map-get($fbp, "h3");
      }
    }
  }
}

h4,
.h4 {
  font-size: 1em * map-get($h-sizes-text, "h4");
  font-weight: map-get($h-weight-text, "h4");
  //breakpoints
  @each $vkey, $vval in $breakpoints {
    $fbp: map-get($h-sizes-text-bp, $vkey);
    @if $fbp {
      @include media-breakpoint-up(map-get($breakpoints, $vkey)) {
        font-size: 1em * map-get($fbp, "h4");
      }
    }
  }
}

h5,
.h5 {
  font-size: 1em * map-get($h-sizes-text, "h5");
  font-weight: map-get($h-weight-text, "h5");
  //breakpoints
  @each $vkey, $vval in $breakpoints {
    $fbp: map-get($h-sizes-text-bp, $vkey);
    @if $fbp {
      @include media-breakpoint-up(map-get($breakpoints, $vkey)) {
        font-size: 1em * map-get($fbp, "h5");
      }
    }
  }
}

h6,
.h6 {
  font-size: 1em * map-get($h-sizes-text, "h6");
  font-weight: map-get($h-weight-text, "h6");
  //breakpoints
  @each $vkey, $vval in $breakpoints {
    $fbp: map-get($h-sizes-text-bp, $vkey);
    @if $fbp {
      @include media-breakpoint-up(map-get($breakpoints, $vkey)) {
        font-size: 1em * map-get($fbp, "h6");
      }
    }
  }
}
