.p,
p {
  font-size: 1em;
}
.b,
b {
  font-weight: bold;
}
.eb{
  font-weight: 600;
}
.i {
  font-style: italic;
}


.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
}


$ant: null;
$var: null;

@each $key, $val in $breakpoints {

  $var: index(($breakpoints), ($key $val));

  @if $var !=1 {
    @include media-breakpoint(map-get($breakpoints, $ant), map-get($breakpoints, $key) - 0.1) {
      .block-#{$ant} {
        width: 100%;
      }

      .tc-#{$ant} {
        text-align: center;
      }

      .tl-#{$ant} {
        text-align: left;
      }

      .tr-#{$ant} {
        text-align: right;
      }

      .tj-#{$ant} {
        text-align: justify;
      }
    }

  }

  $ant: $key;
}


@include media-breakpoint-up(map-get($breakpoints, $ant)) {

  .tc-#{$ant} {
    text-align: center;
  }

  .tl-#{$ant} {
    text-align: left;
  }

  .tr-#{$ant} {
    text-align: right;
  }

  .tj-#{$ant} {
    text-align: justify;
  }
}

.code {
  font-family: monospace;
  background-color: $color-default;
  padding: .2em .3em;
  color: map-get($colors-sections, "info");
}