.nowrap {
  white-space: nowrap;
}

.ellipsis {
  text-overflow: ellipsis;
  &.lines-2{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.uppercase {
  text-transform: uppercase;
}

.t,.through {
  text-decoration:line-through;
}
.font-border {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.font-border-white {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}