.nowrap {
  white-space: nowrap;
}

.ellipsis {
  text-overflow: ellipsis;
  &.lines-2{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.uppercase {
  text-transform: uppercase;
}

.t,.through {
  text-decoration:line-through;
}