extends ../../layout

block content
  .container
    include ../../fragments/breadcrumb

  .container
    h1 ¿Olvidaste tu contraseña?
    .row.justify-content-center
      .col-xs-12.col-md-6
        .oh.white.br-1.rd-0-2.mh-2
          .p-1
            .msg.error#form-results
            .row
              form.col-xs-12.validate-rest(id="passwordResetForm" action=`${appCnf.url.api}users/password-reset` method="post" data-page=`recuperar-contrasena-confirmacion` data-error="#form-results")
                .row
                  .col-xs-12
                    .form-group
                      .form-control
                        input.input#email(type="email" name="email" value=_.get(req, 'body.email') placeholder=' ' required)
                        label(for='email') Correo Electrónico
                .row
                  .col-xs-12.tr
                    button.btn.btn--primary.w-100-xs(type="submit") Enviar correo con nueva contraseña
          .p-1.white-500
            .row
              .col-xs-12
                a(href="/iniciar-sesion") Iniciar Sesión
              .col-xs-12
                a(href="/registro") Registrarse