extends ../../layout

block content
  .container
    include ../../fragments/breadcrumb

  .container
    h1 Registro Confirmación
    .row.justify-content-center
      .col-xs-12.col-md-6
        .oh.white.br-1.rd-0-2.mh-2
          .p-1
            .row
              .col-xs-12
                .msg.action
                  | Tu cuenta esta lista, ingresa con los datos proporcionados.
          .p-1.white-500
            .row
              .col-xs-12
                a(href="/iniciar-sesion") Iniciar Sesión