extends ./layout
block content
  h3 ¿Olvidaste tu contraseña?
  h3 Hola, #{(_.get(to, 'name')||'').split(' ')[0]}
  p Este correo se envía porque alguien solicitó que enviaran una nueva contraseña.
  p Si no solicitaste este correo puedes ignorarlo y entrar con tu contraseña habitual.
  hr
  h3 Nueva contraseña:
  h2
    center #{passwordTemp}