extends ./layout-seller-order
block order
  h2 Tienes un nuevo Pedido en #{site.name}
  h3 Hola, #{(_.get(to, 'name')||'').split(' ')[0]}
  p Te confirmamos el pago de un nuevo pedido.
  p Debes verificar el contenido y enviarlo lo más breve posible a la dirección del cliente.
  p Si tu pedido es digital, los detalles para acceder se muestra en la lista de productos de tu pedido pagado.
  p Felicidades y Hasta pronto.
  