extends ../../layout-view

block view
  if store.images
    table.small.table.table--lines
      tbody
        tr
          td
            .b Logo de la tienda
            img(src=_.get(store, 'imageSizes.logo.196x196_jpg'))
        tr
          td
            .b Imagen para la cabecera de la tienda
            img(src=_.get(store, 'imageSizes.header.1003x196_jpg'))
        tr
          td
            .b Imagen al compartir en Redes Sociales
            img(src=_.get(store, 'imageSizes.social.373x196_jpg'))
  else
    .white.br-1.rd-0-2.p-3
      .remark.info.flex.mb-0-5
        i.fas.fa-info-circle.h4.mr-1.t-info
        | No tiene imágenes para su tienda configuradas.