
.br-1.pt-1.pl-1
  .pr-1
    .big LOS MÁS VENDIDOS
    .mh-1
      ul.list.white
        each item,i in items
          li
            a.title(href=`/categorias/${item.slugLong}/`)
              | #{item.name}