
.br-1.pt-1.pl-1
  .pr-1
    .small.b LOS MÁS VENDIDOS
    .mh-0-5
      ul.list
        each item,i in items
          li
            a.title.lh-2.t-primary.white(href=`/categorias/${item.slugLong}/`)
              | #{item.name}