.msg {
  padding: 0.4em;
  margin-bottom: .5em;
  margin-top: .5em;

  background-color: set-lightness-color($color-default, 97) !important;
  color: $color-foreground;
  // border: 1px solid $color-default;
  // box-shadow: 0 0 0 1px $color-default inset, 0 0 0 0 transparent;
  border-radius: .5rem;
  display: none;

  @each $key,
  $val in $colors-sections {
    &.#{$key} {
      // border-color: $val;
      background-color: set-lightness-color($val, 97) !important;
      color: $val !important;
      // box-shadow: 0 0 0 1px $val inset, 0 0 0 0 transparent;

      a:not(.btn):not(.item) {
        color: darken($val, 10);

        &:hover,
        &:focus {
          color: set-change-color($val, 5);
        }
      }
    }
  }

  &:not(:empty) {
    display: block;
  }
}