[Unit]
Description=santrato
Documentation=https://santrato.com
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=PORT=3000

Environment=MONGO_URL=mongodb://localhost/santrato
Environment=REDIS_URL=redis://localhost/

Environment=AWS_KEY=AKIAUWYSH2GR2PC775ET
Environment=AWS_ACCESS=Q53je+OhZNNJqMj5hgyIVF7zSzPLQlN8jBT4JTi3
Environment=AWS_BUCKET=santrato.com
Environment=AWS_FOLDER=prod
Environment=AWS_SQS=https://sqs.us-east-1.amazonaws.com/237646395144/mail

Environment=URL_API=/v1/
Environment=URL_CDN=/
Environment=FILES=prod

Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/tienda
ExecStart=node /home/ubuntu/tienda/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target