.bg {
  &.s-cover {
    background-size: cover;
  }
  &.norepeat {
    background-repeat: no-repeat;
  }
  &.a-fixed {
    background-attachment: fixed;
  }
  &.p-top {
    background-position: top;
  }
}