

@each $key, $val in $spaces {
  .m-#{$key}{
    margin: $val;
  }
  .mw-#{$key}{
    margin-left: $val;
    margin-right: $val;
  }
  .mh-#{$key}{
    margin-top: $val;
    margin-bottom: $val;
  }
  .ml-#{$key}{
    margin-left: $val;
  }
  .mr-#{$key}{
    margin-right: $val;
  }
  .mt-#{$key}{
    margin-top: $val;
  }
  .mb-#{$key}{
    margin-bottom: $val;
  }
  .m-n-#{$key}{
    margin: -$val;
  }
  .mw-n-#{$key}{
    margin-left: -$val;
    margin-right: -$val;
  }
  .mh-n-#{$key}{
    margin-top: -$val;
    margin-bottom: -$val;
  }
  .ml-n-#{$key}{
    margin-left: -$val;
  }
  .mr-n-#{$key}{
    margin-right: -$val;
  }
  .mt-n-#{$key}{
    margin-top: -$val;
  }
  .mb-n-#{$key}{
    margin-bottom: -$val;
  }
  $ant: null;
  //colores en breakpoints
  @each $ckey, $cval in $breakpoints {
    $var: index(($breakpoints), ($ckey $cval));

    @if $var !=1 {
      @include media-breakpoint(map-get($breakpoints, $ant), map-get($breakpoints, $ckey) - 0.1) {
        .m-#{$key}-#{$ant} {
          margin: $val;
        }
        .mw-#{$key}-#{$ant} {
          margin-left: $val;
          margin-right: $val;
        }
        .mh-#{$key}-#{$ant} {
          margin-top: $val;
          margin-bottom: $val;
        }
        .ml-#{$key}-#{$ant} {
          margin-left: $val;
        }
        .mr-#{$key}-#{$ant} {
          margin-right: $val;
        }
        .mt-#{$key}-#{$ant} {
          margin-top: $val;
        }
        .mb-#{$key}-#{$ant} {
          margin-bottom: $val;
        }

        .m-n-#{$key}-#{$ant} {
          margin: -$val;
        }
        .mw-n-#{$key}-#{$ant} {
          margin-left: -$val;
          margin-right: -$val;
        }
        .mh-n-#{$key}-#{$ant} {
          margin-top: -$val;
          margin-bottom: -$val;
        }
        .ml-n-#{$key}-#{$ant} {
          margin-left: -$val;
        }
        .mr-n-#{$key}-#{$ant} {
          margin-right: -$val;
        }
        .mt-n-#{$key}-#{$ant} {
          margin-top: -$val;
        }
        .mb-n-#{$key}-#{$ant} {
          margin-bottom: -$val;
        }
      }
    }
    $ant: $ckey;
  }
  @include media-breakpoint-up(map-get($breakpoints, $ant)) {
    .m-#{$key}-#{$ant} {
      margin: $val;
    }
    .mw-#{$key}-#{$ant} {
      margin-left: $val;
      margin-right: $val;
    }
    .mh-#{$key}-#{$ant} {
      margin-top: $val;
      margin-bottom: $val;
    }
    .ml-#{$key}-#{$ant} {
      margin-left: $val;
    }
    .mr-#{$key}-#{$ant} {
      margin-right: $val;
    }
    .mt-#{$key}-#{$ant} {
      margin-top: $val;
    }
    .mb-#{$key}-#{$ant} {
      margin-bottom: $val;
    }

    .m-n-#{$key}-#{$ant} {
      margin: -$val;
    }
    .mw-n-#{$key}-#{$ant} {
      margin-left: -$val;
      margin-right: -$val;
    }
    .mh-n-#{$key}-#{$ant} {
      margin-top: -$val;
      margin-bottom: -$val;
    }
    .ml-n-#{$key}-#{$ant} {
      margin-left: -$val;
    }
    .mr-n-#{$key}-#{$ant} {
      margin-right: -$val;
    }
    .mt-n-#{$key}-#{$ant} {
      margin-top: -$val;
    }
    .mb-n-#{$key}-#{$ant} {
      margin-bottom: -$val;
    }
  }
}
