

@each $key, $val in $spaces {
  .m-#{$key}{
    margin: $val;
  }
  .mw-#{$key}{
    margin-left: $val;
    margin-right: $val;
  }
  .mh-#{$key}{
    margin-top: $val;
    margin-bottom: $val;
  }
  .ml-#{$key}{
    margin-left: $val;
  }
  .mr-#{$key}{
    margin-right: $val;
  }
  .mt-#{$key}{
    margin-top: $val;
  }
  .mb-#{$key}{
    margin-bottom: $val;
  }
}

$ant: null;
$var: null;

@each $key, $val in $breakpoints {

  $var: index(($breakpoints), ($key $val));

  @if $var !=1 {
    @include media-breakpoint(map-get($breakpoints, $ant), map-get($breakpoints, $key) - 0.1) {
      @each $key, $val in $spaces {
        .m-#{$key}-#{$ant}{
          margin: $val;
        }
        .mw-#{$key}-#{$ant}{
          margin-left: $val;
          margin-right: $val;
        }
        .mh-#{$key}-#{$ant}{
          margin-top: $val;
          margin-bottom: $val;
        }
        .ml-#{$key}-#{$ant}{
          margin-left: $val;
        }
        .mr-#{$key}-#{$ant}{
          margin-right: $val;
        }
        .mt-#{$key}-#{$ant}{
          margin-top: $val;
        }
        .mb-#{$key}-#{$ant}{
          margin-bottom: $val;
        }
      }
    }

  }

  $ant: $key;
}

@include media-breakpoint(map-get($breakpoints, $ant)) {
  @each $key, $val in $spaces {
    .m-#{$key}-#{$ant}{
      margin: $val;
    }
    .mw-#{$key}-#{$ant}{
      margin-left: $val;
      margin-right: $val;
    }
    .mh-#{$key}-#{$ant}{
      margin-top: $val;
      margin-bottom: $val;
    }
    .ml-#{$key}-#{$ant}{
      margin-left: $val;
    }
    .mr-#{$key}-#{$ant}{
      margin-right: $val;
    }
    .mt-#{$key}-#{$ant}{
      margin-top: $val;
    }
    .mb-#{$key}-#{$ant}{
      margin-bottom: $val;
    }
  }
}