@each $key, $val in $spaces {
  .p-#{$key} {
    padding: $val;
  }
  .pw-#{$key} {
    padding-left: $val;
    padding-right: $val;
  }
  .ph-#{$key} {
    padding-top: $val;
    padding-bottom: $val;
  }
  .pl-#{$key} {
    padding-left: $val;
  }
  .pr-#{$key} {
    padding-right: $val;
  }
  .pt-#{$key} {
    padding-top: $val;
  }
  .pb-#{$key} {
    padding-bottom: $val;
  }

  $ant: null;
  //colores en breakpoints
  @each $ckey, $cval in $breakpoints {
    $var: index(($breakpoints), ($ckey $cval));

    @if $var !=1 {
      @include media-breakpoint(map-get($breakpoints, $ant), map-get($breakpoints, $ckey) - 0.1) {
        .p-#{$key}-#{$ant} {
          padding: $val;
        }
        .pw-#{$key}-#{$ant} {
          padding-left: $val;
          padding-right: $val;
        }
        .ph-#{$key}-#{$ant} {
          padding-top: $val;
          padding-bottom: $val;
        }
        .pl-#{$key}-#{$ant} {
          padding-left: $val;
        }
        .pr-#{$key}-#{$ant} {
          padding-right: $val;
        }
        .pt-#{$key}-#{$ant} {
          padding-top: $val;
        }
        .pb-#{$key}-#{$ant} {
          padding-bottom: $val;
        }
      }
    }
    $ant: $ckey;
  }
  @include media-breakpoint(map-get($breakpoints, $ant)) {
    .p-#{$key}-#{$ant} {
      padding: $val;
    }
    .pw-#{$key}-#{$ant} {
      padding-left: $val;
      padding-right: $val;
    }
    .ph-#{$key}-#{$ant} {
      padding-top: $val;
      padding-bottom: $val;
    }
    .pl-#{$key}-#{$ant} {
      padding-left: $val;
    }
    .pr-#{$key}-#{$ant} {
      padding-right: $val;
    }
    .pt-#{$key}-#{$ant} {
      padding-top: $val;
    }
    .pb-#{$key}-#{$ant} {
      padding-bottom: $val;
    }
  }
}
