@each $key, $val in $sizes {
  .#{$key} {
    font-size: #{$val * 100}#{"%"};
  }
}

@each $key, $val in $sizes-objects {
  .h-#{$key} {
    height: $val;
  }

  .w-#{$key} {
    width: $val;
  }
  .maxh-#{$key} {
    max-height: $val;
  }

  .maxw-#{$key} {
    max-width: $val;
  }
  .minh-#{$key} {
    min-height: $val;
  }

  .minw-#{$key} {
    min-width: $val;
  }
}

$ant: null;
$var: null;

@each $key, $val in $breakpoints {
  $var: index(($breakpoints), ($key $val));
  @if $var !=1 {
    @debug(map-get($breakpoints, $ant), map-get($breakpoints, $key) - 0.1);
    @include media-breakpoint(map-get($breakpoints, $ant), map-get($breakpoints, $key) - 0.1) {
      @each $ckey, $val in $sizes-objects {
        @debug($ckey, $ant);
        .h-#{$ckey}-#{$ant} {
          height: $val;
        }
        .w-#{$ckey}-#{$ant} {
          width: $val;
        }
        .maxh-#{$ckey}-#{$ant} {
          max-height: $val;
        }
        .maxw-#{$ckey}-#{$ant} {
          max-width: $val;
        }
        .minh-#{$ckey}-#{$ant} {
          min-height: $val;
        }
        .minw-#{$ckey}-#{$ant} {
          min-width: $val;
        }
      }
    }
  }

  @if $var==length($breakpoints) {
    @include media-breakpoint-up(map-get($breakpoints, $key)) {
      @each $ckey, $val in $sizes-objects {
        .h-#{$ckey}-#{$key} {
          height: $val;
        }

        .w-#{$ckey}-#{$key} {
          width: $val;
        }
        .maxh-#{$ckey}-#{$key} {
          max-height: $val;
        }

        .maxw-#{$ckey}-#{$key} {
          max-width: $val;
        }
        .minh-#{$ckey}-#{$key} {
          min-height: $val;
        }

        .minw-#{$ckey}-#{$key} {
          min-width: $val;
        }
      }
    }
  }

  $ant: $key;
}
