style.
  .carousel-item img{
    z-index: 1;
    width: 900px;
    height: 230px;
    position: absolute;
    object-fit: cover;
  }

.carousel.alert.oh
  .carousel-arrow.carousel-arrow-left
    .carousel-icon-left
      .out-screen Mover a la izquierda
      i.fas.fa-chevron-left

  .carousel-list
    ul
      li
        .h-230p.br-1.all
          .h-100.flex.carousel-item.relative.oh
            | [img-res key="AJLuPJi4CYAH" sizes="xdefault"]
      li
        .h-230p.br-1.all
          .h-100.flex.carousel-item.relative.oh
            | [img-res key="CJyO5jf7s2Ed" sizes="xdefault"]
      li
        .h-230p.br-1.all
          .h-100.flex.carousel-item.relative.oh
            | [img-res key="uVlu9svxBf50" sizes="xdefault"]

  .carousel-arrow.carousel-arrow-right
    .carousel-icon-right
      .out-screen Mover a la derecha
      i.fas.fa-chevron-right