.carousel.alert.oh
  .carousel-arrow.carousel-arrow-left
    .carousel-icon-left
      .out-screen Mover a la izquierda
      i.fas.fa-chevron-left

  .carousel-list
    ul
      li
        .h-230p.br-1.all
          .h-100.flex.primary
            .t-black.tc.w-100 Card 1
      li
        .h-230p.br-1.all
          .h-100.flex.info
            .t-black.tc.w-100 Card 2
      li
        .h-230p.br-1.all
          .h-100.flex.gray
            .t-black.tc.w-100 Card 3

  .carousel-arrow.carousel-arrow-right
    .carousel-icon-right
      .out-screen Mover a la derecha
      i.fas.fa-chevron-right