style.
  .carousel-item img{
    z-index: 1;
    width: 900px;
    height: 230px;
    position: absolute;
    object-fit: cover;
  }

.carousel.alert.oh
  .carousel-arrow.carousel-arrow-left
    .carousel-icon-left
      .out-screen Mover a la izquierda
      i.fas.fa-chevron-left

  .carousel-list
    ul
      li
        .br-1.all.lh-0
          | [img-res key="UR8KBf000zCm" sizes="xdefault" alt="Santrato Marketplace" title="Compra y vende en Santrato - Santrato Marketplace"]
      li
        .br-1.all.lh-0
          | [img-res key="fa9H7158OQrz" sizes="xdefault" alt="Santrato Marketplace" title="Compra y vende en Santrato - Santrato Marketplace"]
      li
        .br-1.all.lh-0
          | [img-res key="fLJOEzOdPjmY" sizes="xdefault" alt="Santrato Marketplace" title="Plataforma de comercio electrónico - Santrato Marketplace"]

  .carousel-arrow.carousel-arrow-right
    .carousel-icon-right
      .out-screen Mover a la derecha
      i.fas.fa-chevron-right