extends /modules/common/views/layout-index

block view
  .container
    .row.pb-2
      .col-xs-12
        h1.tc #{title}
  .container

    .row.justify-content-center
      .col-md-8
        .white.br-1.rd-0-2.p-1.mb-2
          .msg.error#form-results
          form.validate-rest(id="updateProfileForm" action=`${appCnf.url.api}users/email` method="put" data-page=`/usuario/informacion-personal/correo-cambiado` data-error="#form-results")
            .row
              .col-xs-12
                .form-group
                  .form-control.form-control--right
                    input.input#password(type="password" name="password" placeholder=' ' required)
                    label(for='password') Contraseña
                    .form-control__eye
                .form-group
                  .form-control.form-control--right
                    input.input#email(type="email" name="email" placeholder=' ' required value=_.get(req,'user.email'))
                    label(for='email') Correo
            .row
              .col-xs-12.tr
                a.btn.btn--secondary.w-100-xs(href='/usuario/informacion-personal') Cancelar
                | #{' '}
                button.btn.btn--primary.w-100-xs.mt-1-xs(type="submit") Guardar correo
