extends /modules/common/views/layout-index

block view
  .container
    .row.pb-2
      .col-xs-12
        h1.tc #{title}

  .container.ph-1.white-xs
    .row.justify-content-center
      each product,i in products
        .col-xs-6.col-md-4.col-lg-3.pb-1
          +simpleProduct(product, true)
