extends ../../layout

block content
  p Tablero
  p Configuración
  p - Tienda
  p - Logo
  p - Redes Sociales

  p Sedes
  p - Atención
  p - Cobertura

  p Pedidos
  p - Reclamos
  p Categorías
  p Productos

  p Pagos
  p - Desembolsos

  p Cuenta
  p - Información Personal
  p - Información Bancaria
