extends ./layout-client-order
block order
  h2 Pedido confirmado en #{site.name}
  h3 Hola, #{(_.get(to, 'name')||'').split(' ')[0]}
  p Te confirmamos que se ha procesado el pedido.
  p En breve se notificará al vendedor para que aliste tu pedido.
  p Cuando lo recibas debes verificar su contenido y hacer el pago al vendedor en efectivo.
  h3
    b No acepte pagar nada por adelantado.
  p Hasta pronto.