extends ./layout
block content
  h3 Hola, #{(_.get(to, 'name')||'').split(' ')[0]}
  p Te confirmamos la creación de una cuenta para usar en nuestra tienda.
  p Con esta cuenta podrás comprar y ver el estado de tus pedidos.
  p Hasta pronto.