.flex {
  display: flex;
  align-items: center;
  &.align-items-start{
    align-items: start;
  }
  &.col{
    flex-direction: column;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-right {
  justify-content: flex-end !important;
}

.vertical-align-center{
  align-self: center;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-grow{
  flex-grow: 1;
}
.flex-basis{
  flex-basis: 100%;
}