if account
  nav.navbar.navbar--normal.white.sh
    .container
      ul
        li.flex
          a.nav-link.brand-logo(href='/usuario')
            div.not-wrap.b #{req.user.personalInfo.name}
      .expand
      .relative
        a.dropdown(aria-controls='menu-user')
          span
            i.fas.fa-user-cog
            | #{' '}
            span Cuenta
          span.icon.ml-1
            i.fas.fa-angle-down
        #menu-user.dropdown-list.right.sh
          ul(role='menu')
            li(role='menuitem')
              a.item(href='/usuario') Ver mis datos
            li(role='menuitem')
              a.item(href='/usuario/correo') Cambiar correo electrónico
            li(role='menuitem')
              a.item(href='/usuario/contrasena') Cambiar mi contraseña

