nav.mt-2
  if center
    .p-1
      .title.mb-1 MAPA
      input#center(type="hidden" name="center" value=`${center.longitude},${center.latitude}`)
      input#markers(type="hidden" name="markers" value=JSON.stringify(markers))
      #map-markers.w-100.h-230p.mb-1