extends ./layout-client-order
block order
  h2 Pedido confirmado en #{site.name}
  h3 Hola, #{(_.get(to, 'name')||'').split(' ')[0]}
  p Te confirmamos que se ha procesado el pago de tu pedido.
  p En breve se notificará al vendedor para que aliste tu pedido.
  p Hasta pronto.