extends ./layout
block content
  h2 Pedido confirmado en #{site.name}
  h3 Hola, #{(_.get(to, 'name')||'').split(' ')[0]}
  p Te confirmamos que se ha procesado el pago de tu pedido.
  p En breve se notificará al vendedor para que aliste tu pedido.
  p Hasta pronto.

  center(data-parsed='' style='min-width:0;width:100%')
    a.float-center(href=site.urlSite+'pedidos/'+order.orderID align='center' style='Margin:0;border:0 solid #08415c;background-color: #08415c;border-radius:3px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:700;line-height:1.3;margin:0;padding:10px 20px 10px 20px;padding-left:0;padding-right:0;text-align:center;text-decoration:none;width:100%') Datos del Pedido