extends ./layout-seller-order
block order
  h2 Tienes un nuevo Pedido en #{site.name}
  h3 Hola, #{(_.get(to, 'name')||'').split(' ')[0]}
  p Te confirmamos un nuevo pedido.
  p Debes verificar el contenido y enviarlo lo más breve posible a la dirección del cliente.
  p Este pedido tiene pago contra entrega, en efectivo en el momento de la entrega.
  p Felicidades y Hasta pronto.
  